body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #118949 !important;
}
*{
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
}
.nav-link{
  letter-spacing: 1.5 !important;
}
.logo{
  width: 110px !important;
}


@media (max-width:767px) {
  .logo{
    width: 80px !important;
  }
 
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
